@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3></h3>

<p>List of HTTP headers in the request from IP adress @Model.Message.</p>

@{var headers = Request.Headers;
    <ol>
    @foreach (var header in headers)
    {
        var key = header.Key;
        var val = header.Value;
        <li><b>@key</b> @val</li>
    }
    </ol>
}